@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
header{
    background:black url(../imagens/bck-header.jpg) no-repeat center;
    background-size: cover;
    height: 40vh;
    border-bottom: 15px solid rgb(56, 163, 212);
    position: relative;
}
#gancho{
    position: absolute;
    border: 1px solid white;
    color: white;
    padding: 15px 75px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    top: 56%;
    left: 50%;
    transform: translate(-50%);
}
#gancho:hover{
    background-color: #00AFE8;
    border: 1px solid white;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 84px;
    align-items: center;
}
.nav-item{
    margin-left: 70px;
}
.nav-link{
    color:#134D54;
    text-transform: uppercase;
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
}
.nav-link:hover{
    color: rgb(59, 42, 26);
    scale: 1.2;
}
section{
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
    flex-wrap: wrap;
}
section .card{
    border: none;
    margin: 0 30px;
}
section .card-body{
    padding: 10px 0;
}
.button-cards{
    border: none;
    background-color: #7565FE;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.button-cards:hover{
    background-color: #00AFE8;
}
section .card h5{
    align-items: center;
    display: flex;
    color: #134D54;
    font-weight: 700;
}
h5 img{
    scale: 0.8;
    margin-right: 12px;
}
.card4{
    display: flex;
    margin: 20px 100px;
}
.card4 p{
    margin: 15px 0;
    margin-right: 100px;
}
.titulo-card4{
    color: #134D54;
}
.button-card4{
    background-color: transparent;
    color: #7565FE;
    border: 2px solid #7565FE;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.button-card4:hover{
    background-color: #7565FE;
    border: 2px solid #7565FE;
}
#card5{
    display: flex;
    align-items: center;
    margin-left: 90px;
}
.card5{
    padding: 20px;
    background-color: rgba(240, 234, 234, 0.568);
}
.animacao{
    margin: 15px 0;
    background-color: gray;
    border: none;
}
footer{
    background: black url(../imagens/bck-footer.jpg) no-repeat;
    background-size: cover;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;

}